<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Jeremy's Bookstore" %>
  </div>
  <div id="columns">
    <div id="side">
      <div class="recent">
        <h4 class="recent-title">Recent Product</h4>
        <div class="recent-title">
          <%= Product.latest.title %>
        </div>
        <div class="recent-img">
          <%= image_tag(Product.latest.image_url) %>
        </div>
        <div class="recent-description">
          <%= truncate(Product.latest.description, length: 15) %>
        </div>
        <div class="recent-description">
          <%= number_to_currency(Product.latest.price) %>
        </div>
      </div>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/index">Questions</a></li>
        <li><a href="/index">News</a></li>
        <li><a href="/index">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
